<html>
  <head>
    <meta charset="utf-8" />
    <title>Carrito</title>
  </head>
  <body>
    <h1>Carrito de Compras</h1>

    {{#if cart.products.length}}
      <ul>
        {{#each cart.products}}
          <li>
            <strong>{{this.product.title}}</strong> - ${{this.product.price}} x {{this.quantity}} = ${{this.subtotal}}
          </li>
        {{/each}}
      </ul>
      <p>Total: ${{total}}</p>
    {{else}}
      <p>El carrito está vacío</p>
    {{/if}}

    <a href="/products">Seguir comprando</a>
  </body>
</html>